

/* ------- */
/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

 .section-h{
    height: 500px;
 }
.product::before{
    content: '';
    position: absolute;
    top: 10%;
    left: 5%;
    bottom: 10%;
    right: 5%;
    background-color: gray;

/* width: 100px;
height: 100px; 
border-radius: 50%;*/
}
.product{
    position: absolute;
    right: 10%;
    top:200px;
    width: 270px; 
    height: 500px; 
    rotate: 30deg;
    background-color: #333;
}

.product2::before{
    content: '';
    position: absolute;
    top: 10%;
    left: 5%;
    bottom: 10%;
    right: 5%;
    background-color: rgb(236, 232, 232);

/* width: 100px;
height: 100px; 
border-radius: 50%;*/
}

.product2{
    position: absolute;
    right: -4%;
    top:-150px;
    width: 270px; 
    height: 500px; 
    rotate: 30deg;
    background-color: #333;
}

/* ---------------- */



/* .card{
    width : 20%
} */



